html, body {
    background-color: #E9E9E9;
    color: #3C3C3C;
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

/* ---------------------------------------- */
/*                 HEADER                   */
/* ---------------------------------------- */
#navigate {
    padding-bottom: 70px;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 1000px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
}

#menu {
    position: relative;
    top: 60px;
    font-size: 20pt;
    letter-spacing: 2px;
    border-bottom-style: solid;
    border-top-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: #3C3C3C;
}

#menu a {
    padding-left: 10px;
    padding-right: 10px;
}

a:link, a:visited {
    color: #3C3C3C;
    text-decoration: none;
}

a:hover {
    color: #7F7F7F;
}

/* ---------------------------------------- */
/*                 Body                     */
/* ---------------------------------------- */

#summary {
    margin: auto;
    width: 100%;
    min-height: 200px;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
}

#summary src {
    margin: auto;
}

#name {
    display: inline-block;
    vertical-align: top;
    font-family: 'Kristi', sans-serif;
    letter-spacing: 3px;
    font-size: 90px;
    padding-left: 35px;
    margin: auto;
    max-height: 405px;
}

#summary p {
    vertical-align: bottom;
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 0px;
    font-size: 20px;
    max-width: 625px;
    min-height: 150px;
    background-color: white;
    padding: 10px;
    border-style: solid;
    transform: translate(0%, 43.8%);
    text-align: center;
}

#main {
    margin: auto;
    width: 100%;
    min-height: 200px;
    text-align: center;
    font-family: 'Kristi', sans-serif;
    font-size: 90px;
    padding-bottom: 150px;
    padding-top: 50px;
}

.text {
    background-color: white;
    max-width: 300px;
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
    border-style: solid;
    padding: 15px;
}

.title {
    display: inline-block;
    text-align: left;
}

/* ---------------------------------------- */
/*                 Footer                   */
/* ---------------------------------------- */

#footer {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    font-size: 10pt;
    letter-spacing: 1px;
    color: #7F7F7F;
    text-align: center;
}

#icons a {
    margin: 5px;
    padding-bottom: 10px;
}

#rights {
    padding-top: 10px;
    padding-bottom: 10px;
}
