html, body {
    background-color: #E9E9E9;
    color: #3C3C3C;
}

#container {
    position: relative;
    margin: auto;
    width: 100%;
    min-height: 300px;
    text-align: center;
    clear: both;
}

#inner-container {
    padding: 10px;
    letter-spacing: 2px;
    font-family: 'Kristi', cursive;
    font-size: 170px;
}

#view {
    display: inline-block;
    max-width: 500px;
    vertical-align: top;
    
    margin: auto;
    padding: 5px;
    font-size: 30px;
}

#about {
    display: inline-block;
    max-width: 500px;
    vertical-align: top;
    margin: auto;
    padding: 5px;
    font-size: 30px;
}

#container b {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 40px;
}

#container a:link, #container a:visited {
    color: #3C3C3C;
    border: 3px solid #3C3C3C;
    padding: 5px;
    text-decoration: none;
}

#container a:hover, #container a:active {
    background-color: #3C3C3C;
    color: #E9E9E9;
}

#footer{
    font-size: 10pt;
    letter-spacing: 1px;
    color: #7F7F7F;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    clear: both;
}

#icons a {
    margin: 5px;
    padding-bottom: 10px;
}

#rights {
    padding-top: 10px;
    padding-bottom: 10px;
}